### Enter your name - Your ID

Add your name - your ID here (double click on the cell to modify it).
name:katreen william
id:221001947

# 1) Milestone Lab 2 Questions <span style="color:red"> (Total marks: 20 marks) </span>

In [14]:
import pandas as pdF
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [13]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (3.9.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.2.0)
Requirement already satisfied: packaging>=20.0 in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
df = pd.read_csv('C:\Users\Administrator\Downloads.csv')
df

NameError: name 'pd' is not defined

### **Q1) Drop the column 'ID' <span style="color:red"> </span>**

In [ ]:
# Add your code here
df.drop(['Unnamed: 0'],axis=1, inplace=True)

### **Q2) Check if there are any missing values and fill them with the suitable technique if exists. <span style="color:red"> (3 marks) </span>**

In [ ]:
# Add your code here
df.isna().sum()

In [ ]:
# Add your code here
df['Administration'] = df['Administration'].fillna(df['Administration'].median())
df['State'] = df['State'].fillna(df['State'].mode()[0])

In [4]:
# Add your code here
df.isna().sum()

NameError: name 'df' is not defined

### **Q3) Check if there are any duplicate rows and handle them if exists. <span style="color:red"> (1 marks) </span>**

In [ ]:
# Add your code here
df.duplicated().sum()

In [ ]:
# drop duplicates
## your code here

df.drop_duplicates(inplace = True)

In [ ]:
# confirm correction by rechecking for duplicates in the data
## your code here

df.duplicated().sum()

### **Q4) Convert the Joining Date column to a datetime format, and extract useful features like Year, Month, or Hour. <span style="color:red"> (2 marks) </span>**

In [ ]:

data = {
    'Joining Date': ['2022-05-12 08:45:00', '2021-11-25 14:30:00', '2023-01-05 09:15:00']
}

In [ ]:
# Create DataFrame
df = pd.DataFrame(data)

### **Q5) Rename columns to ensure they do not contain spaces or special characters (e.g., replace spaces, underscores) <span style="color:red"> (3 marks) </span>**
Hint: "Omar".replace('O','A') --> "Amar"

In [ ]:
# Add your code here
# remove "_mean" from column names
new_labels = []
for col in df.columns:
    if '_mean' in col:
        new_labels.append(col[:-5])  # exclude last 6 characters
    else:
        new_labels.append(col)

# new labels for our columns
new_labels

In [ ]:
# assign new labels to columns in dataframe
## your code here
df.columns = new_labels

In [ ]:
# display first few rows of dataframe to confirm changes
df.head()

### Q6) You task is doing the following: <span style="color:red"></span>

<p>2) 1) Identify the top 10 employees with the highest salaries? <span style="color:blue"></span>. <span style="color:red"> (1.5 marks) </span>

 <span style="color:green"> 2) Calculate the average salary for each department.
 (1.5 marks)</span> </p2>

In [ ]:

data = {
    'Employee Name': ['John', 'Alice', 'Bob', 'Eva', 'Sam', 'Sophia', 'Max', 'Olivia', 'James', 'Lily', 'Emma', 'David'],
    'Salary': [70000, 120000, 90000, 110000, 85000, 105000, 95000, 130000, 95000, 115000, 98000, 100000]
}

In [ ]:
# Create DataFrame
df = pd.DataFrame(data)

In [ ]:

# Sort the DataFrame by the 'Salary' column in descending order
top_10_employees = df.sort_values(by='Salary', ascending=False).head(10)

In [ ]:
# Display the top 10 employees with the highest salaries
print(top_10_employees)

### Q7) Explore the relationship between experience and salary. Does experience significantly impact salary? <span style="color:red">(2 marks)</span>

In [ ]:
# Add your code here
data = {
    'Experience (Years)': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Salary': [50000, 55000, 60000, 65000, 70000, 75000, 80000, 85000, 90000, 95000]
}

In [ ]:
# Create DataFrame
df = pd.DataFrame(data)

In [ ]:
#  Data Visualization - Scatter Plot
plt.figure(figsize=(8, 6))
sns.scatterplot(x='Experience (Years)', y='Salary', data=df)
plt.title('Scatter Plot: Experience vs Salary')
plt.xlabel('Experience (Years)')
plt.ylabel('Salary')
plt.show()

In [ ]:
#  Correlation Calculation
correlation = df['Experience (Years)'].corr(df['Salary'])
print(f'Correlation between Experience and Salary: {correlation:.4f}')

In [ ]:

X = df['Experience (Years)']  # Feature (independent variable)
y = df['Salary']  # Target (dependent variable)

In [ ]:
# Adding a constant to the model for intercept
X = sm.add_constant(X)

In [ ]:
# Create and fit the OLS model
model = sm.OLS(y, X).fit()

In [ ]:
# Get the regression summary
print(model.summary())

### Q8) Develop a heatmap to analyze correlations among numerical features? <span style="color:red">(3 marks)</span>

In [ ]:
# Add your code here

## Q9) Create a boxplot to compare Focus_Time across different Class_Level categories. <span style="color:red">(2 marks)</span>

In [ ]:
df2['VClass'].value_counts().index

In [ ]:
base_color = sb.color_palette()[0]
sb.boxplot(data=df2, x='VClass', y='comb', color=base_color)
plt.xticks(rotation=90);

## Q10) From the plots you've made, classify which is bivariate and univariate.
- Write down your classifiation in a Markdown cell or a commented code <span style="color:red">(1 mark)  </span>

In [ ]:
plt.scatter(data = df, x = 'R&D_Spend', y = 'Profit');
#sb.regplot(data = df2, x = 'R&D_Spend', y = 'Profit', fit_reg = False);
plt.xlabel('R&D_Spend');
plt.ylabel('Profit');

In [ ]:
sb.heatmap(pd.crosstab(df.State, df.Rank), annot=True, fmt='d');

In [ ]:
#univariate
# Add your code here
plt.hist(data = df, x = 'Profit', bins = 10);

In [ ]:
base_color = sb.color_palette()[0]

# Plot the Pokemon type on a Vertical bar chart
sb.countplot(data=df, x='Rank', color=base_color);

# Use xticks to rotate the category labels (not axes) counter-clockwise
plt.xticks(rotation=90);

# End of questions!
--------------------------------------------